* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", "Inter", "Work Sans", serif;
}


/* index.html styles */
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
    padding: 20px 80px;  
    z-index: 100000;
    height: 15vh;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    list-style: none;
    margin-left: 15%;
    position: relative; 
}

.navbar ul li a {
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 400;
    transition: 0.6s;
    color: inherit;
    cursor: pointer;
    position: relative; 
}

.navbar .logo{
    width: 12%;
}

.navbar ul li a::after {
    content: "";              
    position: absolute;        
    bottom: 0;             
    left: 0;                
    width: 0%;            
    height: 1px;            
    background: rgb(0, 0, 0);      
    transition: width 0.8s ease; 
    z-index: 1;
}

.navbar ul li a:hover::after {
    width: 100%;
}

.navbar.sticky {
    padding: 5px 100px;
    background-color: black; 
}

.navbar.sticky ul li a {
    color: white;
}

.navbar.sticky ul li a::after {
    background: white;
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
    padding: 20px 50px;  
    background-color: black;
    color: white;
    font-size: 16pt;
}

footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul li {
    list-style: none;
    margin-left:20%;
    position: relative; 
}

footer ul li a{
    text-decoration: none;
    font-weight: 400;
    transition: 0.6s;
    color: inherit;
    cursor: pointer;
    position: relative; 
}


footer ul li a::after {
    content: "";              
    position: absolute;        
    bottom: 0;             
    left: 0;                
    width: 0%;            
    height: 1px;            
    background: white;      
    transition: width 0.8s ease; 
    z-index: 1;
}

footer ul li a i{
    font-size: 20pt;
}

footer ul li a:hover::after {
    width: 100%;
}


/* home styles */ 
.info-ecoride{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.911), rgba(255, 255, 255, 0.4)), url(../assets/img/carro-ambiental-home.jpg);
    background-size: cover;
    position: relative;
}
.info-ecoride h1{
    font-size: 72pt;
    margin-top: 1%;
}

.green{
    color: #12E821;
}

.info-ecoride p{
    font-size: 22pt;
    margin-bottom: 2%;
}

.info-ecoride button{
    background-color: black;
    padding: 20px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.info-ecoride button a{
    text-decoration: none;
    color: white;
    font-size: 18pt;
    position: relative;
}

.info-ecoride button a::after{
    content: "";              
    position: absolute;        
    bottom: 0;                
    left: 0;                  
    width: 0%;                
    height: 2px;              
    background: rgb(255, 255, 255);     
    transition: width 0.7s ease;
}
.info-ecoride button a:hover::after{
    width: 100%;
}

.hero{
    padding: 5% 5%;
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 40px;
}

.hero-content-img img{
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.hero-content-img img:hover {
    transform: scale(1.05);
}

.hero-content{
    padding-left: 5%;
}

.hero-content h2,h4{
    font-size: 42pt;
    font-weight: bold;
}

.hero-content p{
    font-size: 20pt;
    margin-top: 3%;
    margin-right: 15%;
    font-weight: 500;
}

.hero-content button{
    background-color: #12E821;
    padding: 20px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    font-size: 16pt;
    margin-top: 2%;
}
.hero-content button a{
    text-decoration: none;
}

.hero-content button a:visited{
    color: inherit;
}

.que-ofrecemos .que-ofrecemos-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.que-ofrecemos .que-ofrecemos-info h3{
    font-size: 42pt;
    font-weight: bold;
    margin-bottom: 2%;
}

.que-ofrecemos .que-ofrecemos-info p{
    font-size: 22pt;
    font-weight: 500;
    margin-bottom: 2%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.articles-plan{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 10px;
    padding: 2%;
    height: 400px;
    margin: 0 2%;
}

.articles-plan article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    border: 2px #EBEAED solid;;
    width: 100%;
    height: 40%;

}

.articles-plan img{
    width: 70%; 
    object-fit: cover;
    height: 80%;
    border-radius: 20px;
}

.articles-plan p{
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
    padding-top: 2%;
    text-transform: uppercase;

}
.que-ofrecemos .button-services{
    background-color: #12E821;
    padding: 20px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    font-size: 16pt;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
}

.que-ofrecemos .button-services a{
    text-decoration: none;
}

.que-ofrecemos .button-services a:visited{
    color: inherit;
}

/* Hero section */
.contenedor {
    text-align: center;
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}

.contenedor h1 {
    font-size: 28px;
    margin-bottom: 16px;
}

.contenedor img {
    width: 80%;
    max-width: 500px;
    border-radius: 12px;
}

/*services page styles*/
.services-title {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 0px;
    margin: 10% 20%;
}

.services-title .services-title-content h1{
    font-size: 57pt;
    margin-bottom: 15%;
}

.services-title .services-title-content p{
    font-size: 17pt;
    margin-right: 2%;
}

.services-title .services-title-img{
    width: 100%;
}

.services-title .services-title-img img{
    width: 100%;
    height: 600px;
    object-position: 90% 30%;
    object-fit: cover;
    border-radius: 5%;
}

.plan-basic, .plan-silver, .plan-gold{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.plan-basic{
    background: #977F5D;
}

.plan-silver{
    background: #A69C9C;
}

.plan-gold{
    background: #D7C856;
}

.plan-img{
    width: 90%;
    padding: 2%;
}

.plan-img img{
    width: 100%;
    border-radius: 6%;
    object-fit: cover;
    height: 500px;
}

.plan-content{
    width: 80%;
    margin-left: 8%;
    margin-right: 8%;
}

.plan-content h2, h3, h4{
    font-size: 42pt;
    margin-top: 10%;
    margin-bottom: 5%;
}

.plan-content p{
    width: 80%;
    font-size: 20pt;
    margin-bottom: 5%;
    color: white;
}

.go-prices{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.go-prices h5{
    margin-top: 5%;
    font-size: 50pt;
    font-weight: bold;
}

.go-prices button{
    background-color: #12E821;
    padding: 20px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    font-size: 20pt;
    margin-top: 1%;
    margin-bottom: 5%;
}

.go-prices button a{
    text-decoration: none;
    color: inherit;
}

.go-prices button a:visited{
    color: inherit;
}

.transition {
    animation: fadeIn 0.7s ease-in-out;
  }
  
.fade-out {
    animation: fadeOut 1.0s ease-in-out;
}

html {
    scroll-behavior: smooth;
}
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: rotateX(-10deg);
    }
    to {
      opacity: 1;
      transform: rotateX(0);
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: rotateX(-10deg);
    }
    to {
      opacity: 0;
      transform: rotateX(0);
    }
  }

/* precios styles */ 
.info-ecoride-precio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.911), rgba(255, 255, 255, 0.4)), url(../assets/img/carro-paisaje.jpg);
    background-size: cover;
    position: relative;
}
.info-ecoride-precio h1{
    font-size: 72pt;
    margin-top: 1%;
}

/* Estilos generales para la tabla */
table {
    width: 70%; /* Reducir el ancho de la tabla */
    margin: 20px auto; /* Centrar la tabla horizontalmente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.438);
    border-collapse: collapse; /* Asegurar que los bordes estén unidos */
    
  }
  
  /* Estilos para las celdas de encabezado y datos */
  table th, table td {
    padding: 60px 60px; /* Aumentar el padding vertical para mayor altura */
    text-align: center;
    border: 1px solid #00000092;
  }
  
  /* Estilos para los encabezados de la tabla */
  table th {
    background-color: #908e8e7f;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5em; /* Aumentar el tamaño de la fuente */
  }
  
  /* Efecto hover para las filas */
  table tbody tr:hover {
    background-color: #e8e8e89f;
    transition: background-color 0.2s ease;
  }
  
 
  
  /* Estilos para la primera columna (características) */
  table td:first-child {
    font-weight: bold;
    background-color: #ffffff;
    font-size: 1.5em;
  }
  
  /* Estilos para las celdas de los planes (Basic, Silver, Gold) */
  table tbody tr td:not(:first-child) {
    
    color: #050505;
    font-weight: bold;
  }
  
  /* Estilos para la última columna (Gold) */
  table tbody tr td:last-child {
    font-weight: bold;
    color: #000000;
  }
 

